[data.platform]
family = "{{ if eq .chezmoi.os "darwin" }}macos{{ else if eq .chezmoi.os "linux" }}linux{{ else }}other{{ end }}"
variant = "{{ if eq .chezmoi.os "darwin" }}macos{{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}arch{{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") }}fedora{{ else if eq .chezmoi.os "linux" }}linux{{ else }}other{{ end }}"
